<div id="user_sidebar">
  <div id="me">
  		<ul id="sidebarheading">
  			<li><%= link_to "My Progress", "#" %></li>
  			<li><%= link_to "My Goals", "#" %></li>
  			<li><%= link_to "My Workout History", "#" %></li>
  		</ul>
  	<div>
</div>