<div id="user_workouts">
	<table>
		<tr>
			<th>Sunday</th>
			<th>Monday</th>
			<th>Tuesday</th>
			<th>Wednesday</th>
			<th>Thursday</th>
			<th>Friday</th>
			<th>Saturday</th>
		</tr>
		<tr>
			<td>Workout Placeholder</td>
			<td>Workout Placeholder</td>
			<td>Workout Placeholder</td>
			<td>Workout Placeholder</td>
			<td>Workout Placeholder</td>
			<td>Workout Placeholder</td>
			<td>Workout Placeholder</td>
		</tr>
	</table>
	<%= link_to "Last Week", "#" %>
	<%= link_to "Next Week", "#" %>
</div>
<br />