<h1>Your Information</h1>
<% if user_signed_in? && current_user.personal_info %>
<%= render "workout_page" %>
<%= render "info" %>
<% else %>
<%= link_to "Get started now!", new_user_personal_info_path(current_user.id) %>
<% end %>