<h1>Your Information</h1>
<% if user_signed_in? && current_user.personal_info %>
<%= render "workout_page" %>
<%= render "info" %>
<% elsif user_signed_in? %>
<%= render :partial => "/personal_info/form" %>
<% else %>
<%= link_to "Get started now!", new_user_registration_path %>
<% end %>